<div class="container mt-4" style="width: 500px;">
  <form action="/restaurants" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>名稱</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="" name="name">
      </div>
      <div class=" form-group col-md-6">
        <label>英文名稱</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="" name="name_en">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>類型</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="" name="category">
      </div>
      <div class=" form-group col-md-4">
        <label>電話</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="02-0000-0000" name="phone">
      </div>
      <div class=" form-group col-md-2">
        <label>評分</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="1~5" name="rating">
      </div>

    </div>
    <div class=" form-group">
      <label>地址</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="台北市大安區..." name="location">
    </div>
    <div class="form-group">
      <label>Google map</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="https://goo.gl/maps/..."
        name="google_map">
    </div>
    <div class="form-group">
      <label>圖片位址</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="https://..." name="image">
    </div>
    <div class="form-group">
      <label>簡介</label>
      <textarea class="form-control" id="inputAddress2" style="height: 150px;" name="description"></textarea>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>

</div>